<h1>welcome</h1>

<i class="fas fa-book"></i>
<div class="container">
  <div class="row">
    <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">
       <p> <%= link_to "Log in", new_user_session_path,class:"btn btn-info btn-sm btn-block mb-3 sign_in" %> </p>
      <p>  <%= link_to "Sign up", new_user_registration_path,class:"btn btn-success btn-sm btn-block sign_up" %></p>

    </div>
  </div>
</div>

